<div id="login">

    <div class="msg msg-error" id="error-connect">La connexion n'a pas pu se faire. Veuillez essayer de nouveau.</div>
    <div class="msg" id="success-activate">
        Ton compte peut être activé. <strong>Tu as reçu un message</strong> dans ta boîte e-mail qui te permettra d'activer ton compte en un clic. Tu pourra ensuite te connecter à Vitabulle.
        <img src="public/medias/eval_03.png">
        <a class="btn btnDark" href="#home">OK</a>
    </div>

    <label>
        <span>E-mail</span>
        <input id="EmailUser" type="text">
        <div class="msg msg-error">Veuillez remplir ce champ&nbsp;</div>
    </label>
    <label>
        <span>Mot de passe </span>
        <input id="PassUser" type="password">
        <div class="msg msg-error">Veuillez remplir ce champ&nbsp;</div>
    </label>

    <a id="passforgot" class="btn btnLight btnsmall" href="">Mot de passe oublié?</a>


    <div id="gogetpassonline" class="modal">
        <p><small>Pour définir un nouveau mot de passe tu devras le faire depuis le site Internet de Vitabulle.</small></p>
        <p><small>Une fois sur le site, suis les instructions indiquées.</small></p>
        <a class="btn" href="http://vitabulle.etsl.ch/site/users">OK, J'y vais !</a>
    </div>

</div>