<section id="today">
<div>
    <% var month = [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ]; %>
    <table class="calendar-title">
        <tr id="cal_month"><th colspan="2"><a href="<%= urlPrevDay %>">&lt;</a><h4><%= d %> <%= month[ ( m - 1 ) ] %> <%= Y %></h4><a href="<%= urlNextDay %>">&gt;</a></th></tr>
        <tr class="cal_d_week">
            <th colspan="2"><% if( apiDatas.length > 1 ) { %>
                                <%= apiDatas.length %> exercices réalisés
                            <% }else if( apiDatas.length > 0 ) { %>
                                <%= apiDatas.length %> exercice réalisé
                            <% }else{ %>
                                Aucun exercice réalisé
                            <% } %>
            </th>
        </tr>
    </table>
    <div class="calendar-bkg">
        <table class="calendar">
            <% if( apiDatas.length > 0 ) { %>
                <% var notes = 0; 
                    for(var i=0; i < apiDatas.length; i++) { %>
                    <tr>
                        <td><small><%= apiDatas[i].hour %>h<%= apiDatas[i].min %></small></td>
                        <td><img src="public/medias/<%= sessions['color'] %>/eval_0<%= apiDatas[i].eval %>.png"></td>
                    </tr>
                <% notes +=apiDatas[i].eval;
                }; %>
                <% if( apiDatas.length >= 3 && apiDatas.length <= 4 ) { %>
                    <tr>
                        <td>3 séances accomplies</td>
                        <td><img src="public/medias/<%= sessions['color'] %>/eval_merite.png"></td>
                    </tr>
                <% } %>

            <% }else{ %>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
            <% } %>
        </table>
        <div>
            <a id="advicebtn" class="btn btnDark" href="">Mon conseil...<div></div></a>
            
        </div>
    </div>
</div>
<section>