<nav>
    <% if (footer === 'show') { %>
        <% if (currentRoute === 'home') { %>
            <% if( sessions.login && sessions.login.length > 0 && sessions.login === 'true' ){ %>
                <a class="btn" href="#exercice">Démarrer la séance</a>
                <a class="btn btnDark" href="#about">Informations</a>
                <a class="btn btnLight" data-action="logout">Se déconnecter</a>
            <% }else{ %>
                <a class="btn btnDark" href="#about">Informations</a>
                <% if( datas.internetConnexion ) { %>
                    <a class="btn" href="#login">Se connecter</a>
                    <a class="btn btnLight" href="#create-profile">Créer un compte</a>
                <% } %>
            <% } %>
        <% } %>
    <% } %>

    <% if (currentRoute === 'login') { %>
        <a href="" data-action="login" class="btn btnDark">Se connecter</a>
    <% } %>

    <% if (currentRoute === 'create-profile') { %>
        <a href="" data-action="subscribe" class="btn btnDark">Créer le profil</a>
    <% } %>

    <% if (currentRoute === 'exercice-result') { %>
        <a class="btn" href="#results-day">Voir mes résultats</a>
    <% } %>

</nav>