<nav>
    <% if (backUrl !== 'hide') { %>
        <a href="#<%= backUrl %>"><img src="public/svg/arrow-left.svg"><img class="arrow-green" src="public/svg/arrow-left-green.svg"></a>
    <% }else{ %>
        <% if (logoHead !== 'hide') { %>
            <div id="logoHead">
                <img src="public/svg/<%= logoHead %>" alt="Logo Head">
            </div>
        <% } %>
    <% } %>
    <h1><%= title %></h1>

    <div class="palette-off palette<% if (paramMenu === 'hide') { %> palette-hide<% } %>">
        <div>
            <img class="icon-settings open" src="public/svg/menu-settings.svg" alt="Ouverture Menu">
            <img class="icon-settings close" src="public/svg/close-menu.svg" alt="Fermeture Menu">
        </div>
    </div>
</nav>



    <menu>

    <% if( datas.isLoguedIn ){ %>
        <div class="parametre">
       	<a class="btn btn-white" href="#results">Mes résultats 
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.67612 13.2279L11.333 7.57107L5.67612 1.91421L7.09033 0.5L14.1614 7.57107L7.09033 14.6421L5.67612 13.2279Z" fill=""/>
            </svg> 
        </a>
        </div>

        <div class="parametre check">
            <% if( datas.isLoguedIn && datas.sessions.IdGroup && datas.sessions.IdGroup === '1'){ %> 
                <span class="minified" id="sounds">Son 
                    <svg class="down" width="15" height="15" viewBox="0 0 15 15" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.8,3l5.7,5.7L13.2,3l1.4,1.4l-7.1,7.1L0.4,4.4L1.8,3z" fill=""/>
                    </svg>
                </span>
            <% }else{ %>
                <span>Son</span>
            <% } %>
            <button data-action="sound" class="on">
                <span></span>
            </button>
            <ul class="minified-list">
                <li>
                    Ambiance
                    <ul class="select" id="ambience"></ul>
                </li>
                <li>
                    Respirations
                    <ul class="select" id="breath"></ul>
                </li>
            </ul>
            <audio id="soundcheck"><source src="" type="audio/mpeg"></audio>
        </div>

        <div class="parametre check">
            <span>Minuterie</span>
            <button data-action="countdown" class="on"><span></span></button>
        </div>

        <div class="parametre check">
            <span>Accompagnement textuel</span>
            <button data-action="textsupport" class="on"><span></span></button>
        </div>
    <% } %>
       	
       	<div class="parametre">
            <span>Changer la couleur</span>
            <ul class="menu-color">
                <li class="<%= ( sessions.color === 'green' ) ? 'actif' : '' %>">
                    <a href="" class="btn" data-color="green"></a>
                </li>
                <li class="<%= ( sessions.color === 'blue' ) ? 'actif' : '' %>">
                    <a href="" class="btn" data-color="blue"></a>
                </li>
                <li class="<%= ( sessions.color === 'red' ) ? 'actif' : '' %>">
                    <a href="" class="btn" data-color="red"></a>
                </li>
                <li class="<%= ( sessions.color === 'beige' ) ? 'actif' : '' %>">
                    <a href="" class="btn" data-color="beige"></a>
                </li>
                <li class="<%= ( sessions.color === 'grey' ) ? 'actif' : '' %>">
                    <a href="" class="btn" data-color="grey"></a>
                </li>
            </ul>
        </div>

        <div class="parametre">
        <a class="btn btn-setting" href="#cc">La cohérence cardiaque, c'est quoi?</a>
        </div>

        <div class="parametre">
        <a class="btn btn-setting" href="#about">Revoir le tutoriel</a>
        </div>

        <div class="parametre">
        <a class="btn btn-setting btnLight" href="#credits">A propos</a>
        </div>

    </menu>
