*{box-sizing:border-box;}

/******************************************* Mise en page ************************************************/

body                    {margin:0; padding:0;background-color:#FCFBF7;}
.container              {max-width:1200px; margin:0 auto;}
header                  {display:flex; justify-content:space-between; height:100px; padding:20px;}
main                    {padding:15px 15px 100px 15px;}
footer                  {background-color:#737373;min-height:100px;display: block;}

section                 {position:relative;}
section#pages           {padding-bottom: 100px;}
section#video           {margin-top:0px;  margin-bottom:  0px;}
section#app             {margin-top:40px;  margin-bottom: 80px;}
section#app-home        {display: none;}
section#cards           {margin-top:60px; margin-bottom: 80px;}
section#coherence       {margin-top:60px; margin-bottom: 80px;}
section#guide           {margin-top:60px; margin-bottom: 80px;}
section#download        {margin-top:60px; margin-bottom: 80px;}
section#login           {margin:0px auto 240px auto;width:90%; max-width:500px;}
section.center          {text-align: center; display:block;}

/****************************************** Header *******************************************************/

header a.logo           {width:35%; display:block;}
header a.logo img       {width:100%; max-height:60px; min-height:50px;}

/****************************************** users *******************************************************/

form                    {}
form input              {width:100%;display:block;border-radius:7px;padding:18px 10px;padding-left:20px;border:1px solid #d4d4d4;font-size:1em;color:#8d8d8d!important;margin:10px 0 15px 0;}
form button             {background-color:#82B47D; width:80%;display:block;margin:40px auto 20px auto;border-radius:7px;padding:20px 40px;border:5px;border-color:#b2b2b2;color:white;font-size:1.2em;}
form button:hover       {background-color:#599a53;cursor:pointer;}

input:-webkit-autofill  {-webkit-box-shadow: 0 0 0 1000px white inset;}

label                   {display: inline-block;}
div.msg                 {padding:10px; color:#fff; font-size:17px; border-radius:7px; background:#dee7e8;}
div.msg-error           {padding:10px 10px 10px 60px;margin:0 0 20px 0;background-color:#E39090; min-height:55px; background-image:url(../images/warning-white.svg); background-size:36px; background-repeat:no-repeat; background-position:10px 0;}
div.msg-success         {margin:0 0 20px 0; background-color:#abd4a7;}

/****************************************** footer *****************************************************/

footer                  {width:100%;background-color:#8d8d8d;color:white; padding: 40px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
footer ul               {width:100%;list-style:none;color:#ffffff;padding: 0px;margin: 0px;}
footer ul li            {width:100%;margin-bottom: 2px;font-size: 80%;}

/* ******************************************** Typographie ********************************************/

body                    {font-family: 'Roboto', sans-serif; letter-spacing:0.5px;line-height: 1.35; }

h1                      {font-weight:500;color:#82B47D;font-size:26px;margin-bottom: 20px;margin-top:0px;}
h1.page                 {font-weight:500;color:#82B47D;font-size:26px;margin-bottom: 20px;margin-top:80px;}
h2                      {font-weight:500;color:#82B47D;font-size:22px;margin-bottom: 40px;margin-top:0px;}
h3                      {font-weight:500;color:#8d8d8d;font-size:14px;margin:0px}
h4                      {font-weight:500;color:#82B47D;}
h4.gray                 {font-weight:500;color:#8f8f8f;}
h5                      {font-weight:500;color:#82B47D;}
h5                      {font-weight:500;color:#82B47D;}
h6                      {font-weight:500;color:#82B47D;}

p                       {font-weight:200;color:#8d8d8d;font-size:14px;padding: 0px;margin-bottom: 20px;}
ul                      {font-weight:200;color:#8d8d8d;font-size:14px;margin-bottom: 20px;}
b                       {font-weight: 500;}
.lead                   {font-weight:500;color:#8d8d8d;font-size:20px;margin-bottom: 40px;margin-top:0px;}
.lead p                 {font-size:20px;}

a                       {display:inline-block;text-decoration:underline;color:#82B47D;}
a:hover                 {text-decoration:underline;color:#82B47D;}
footer a                {color:#eeeeee;}
footer a:hover          {color:#dddddd;}

section#app h3          {margin-bottom: 40px;}
section#video h3        {margin-bottom: 40px;}

/******************************************* Grille Mobile *********************************************/
/* Total:350px | Nb:9col. | Col:30px | Gutter:10px */

.row                    {display:flex;justify-content:space-between;flex-wrap:wrap;}
.row>.col-sm-1          {width:8.571428571428571%;}
.row>.col-sm-2          {width:20%;}
.row>.col-sm-3          {width:31.42857142857143%;}
.row>.col-sm-4          {width:42.85714285714286%;}
.row>.col-sm-5          {width:54.28571428571429%;}
.row>.col-sm-6          {width:65.71428571428571%;}
.row>.col-sm-7          {width:77.14285714285714%;}
.row>.col-sm-8          {width:88.57142857142857%;}
.row>.col-sm-9          {width:100%;}

.row>.margin-lg-1       {margin-left:11.42857142857143%;}
.row>.margin-sm-1       {margin-bottom:13%;}
.clear::after           {content:''; display:block; clear:both;}


/****************************************** Menu *******************************************************/

.menu                   {width:40px;height:40px;cursor:pointer;display:flex;align-content:space-around;justify-content:center;align-items:center;flex-wrap:wrap;padding:10px;z-index:6;}
.menu > div             {width:25px;height:2px;background-color:#8d8d8d;}

nav                     {display:none; position:absolute;top:0px;left:0px;background-color:#82B47D;width:100%;z-index:3;}
nav ul                  {padding:0px;list-style:none;display:block;color:#82B47D;margin-top:60px;height:100vh;text-align:center;}
nav ul li               {display:none;}
nav ul li:hover         {display:block;}
nav ul li a             {display:block;text-decoration:none;color:#eeeeee;padding:20px;font-size:22px;}
nav ul li:hover a       {display:block;text-decoration:none;color:#ffffff;background-color:#599153;}


/****************************************** Menu *******************************************************/

ul.user_menu            {list-style:none; margin:0; padding:0 0 50px 0;}
ul.user_menu li         {}
ul.user_menu li a       {display:block; padding:10px; text-decoration:none;}
ul.user_menu li a.selected{background-color:#eeeeee; color:#000;}


/****************************************** UI ELEMENT ***************************************************/

.vert                   {color:#82B47D;}
.vert-select            {color:#599153;}
.peti-vert-select       {color:#dceada;}
.gris                   {color:#8d8d8d!important;}
.petit-gris             {color:#b2b2b2!important;}
.blanc                  {color:#FCFBF7;background-color: white!important;}
.center                 {display:flex;align-items: center;margin:auto;text-align:left;}
hr                      {margin:20px 0px 20px 0px; border:solid 0.5px;}

/****************************************** VIDEO *******************************************************/

.play                   {width:100%; cursor:pointer; border: 1px solid #eee;}
iframe.play             {min-height:300px;}
#video2 .play           {}
#video3 figure          {max-width:300px; margin:auto; display:block;}


/****************************************** BOUTON *******************************************************/

.bouton, .card, .video-box  {border:2px solid #82B47D; border-radius:10px;margin-bottom:15px}

.bouton                     {width:100%; max-width:400px; background-color:#82B47D; padding:8px 20px 8px 15px; color:white; cursor:pointer;text-align: center; margin:auto auto 15px auto;}
.bouton:hover               {color:#FCFBF7;text-decoration:underline;}
.bouton-page                {width:100%;color:#82B47D;}
.bouton-page:hover .plus    {width:100%;color:#82B47D;text-decoration:underline;}
.bouton-text                {font-size:14px; margin-left:20px;}
.bouton-icone               {}
.bouton-icone img           {height:30px;}
.cache                      {display:none;width:100%;}

.backBtn                    {display:inline-block; line-height:24px; padding:10px 20px; border-radius:7px;color:#8f8f8f; background-color:#eeeeee; text-decoration:none;}
.backBtn:hover              {background-color:#dddddd;color:#8f8f8f;}
.backBtn img                {width:16px; vertical-align:middle; margin:0 10px 0 0;}

/****************************************** CARDS *******************************************************/

.card                   {min-height:86px;width:100%;padding:10px;color:#82B47D;position: relative;}
.card a                 {color:inherit;text-decoration: none;}
.card:hover             {background-color:#fffff8;}

.card .icone            {width:33%; max-width:110px; min-width:80px;}
.card  div.titre        {width:75%;padding-left:6%;padding-right: 2%}
.card .titre p          {display:none;margin-bottom: 20px; margin-top: 10px;font-size: 12px;}
.card .plus             {position:absolute;bottom: 5px; right:5px;padding: 15px;font-size: 12px;}
.card:hover .plus       {text-decoration:underline;}

#cards .bouton-text     {text-align:center;width:100%;}


/****************************************** ICONE-BOX ***************************************************/

.icone-box              {width:100%;display:flex; align-content:center;justify-content:flex-start;align-items:flex-start;margin-bottom:10px}
.icone-box .icone       {width:25%; max-width:70px;}
.icone-box .titre       {width:75%;padding-left:10%;padding-top: 20px;}
.icone-box p            {color:#b2b2b2;}

.icone-box > h3         {background-image:url(../images/cercle.png); background-repeat:no-repeat; background-size:30px; background-position:5px 0; padding:5px 20px 20px 50px;}

.logo-box               {width:100%;display:flex; align-content:center;justify-content:flex-start;align-items:center;margin-bottom:10px}
.logo-box .titre        {width:75%;padding-left:10%;}
.logotype               {padding-left:10%;}


/*** Results ***/
table.calendar-title            {width:100%; max-width:800px; min-height:500; margin:10px auto 0 auto; border-spacing:0;}
table.calendar-title th         {font-size:35px; color:#ffffff; padding:5px 0; position:relative;}
table.calendar-title th a       {position:absolute; top:0px; text-decoration:none; color:#fff; font-weight:100; color:#82B47D; background:#eee; border-radius:7px; padding:0 15px;}
table.calendar-title th a:first-child{left:0px;}
table.calendar-title th a:last-child{right:0px;}
table.calendar-title th h4      {font-size:35px; margin:0 50px; font-weight:100;}
table.calendar-title tr.cal_d_week th{width:14.28571428571429%; font-size:14px; font-weight:300; padding:5px 0 5px 0; color:#8f8f8f;}

table.calendar                  {width:100%; max-width:800px; margin:0 auto 0 auto; border-spacing:0;}
table.calendar tr               {color:#8d8d8d;}
table.calendar td               {width:14.28571428571429%; color:#8d8d8d; min-height:50px; font-size:22px; font-weight:400; background-color:#ffffff; text-align:center; transition:background 1s;}
table.calendar td a             {text-decoration:none;}
table.calendar td.cal_today     {background-color:rgba(0, 0, 0, 0.2); color:#fff !important; font-weight:bold; cursor:pointer;}
table.calendar td.cal_pass      {cursor:pointer;}
table.calendar td.cal_pass:hover, 
table.calendar td.cal_today:hover{background-color:rgba(0, 0, 0, 0.1);}
table.calendar td.cal_pass *    {}
table.calendar td.cal_future *  {opacity:0.3;}
table.calendar td.cal_prev_days, 
table.calendar td.cal_next_days {color:rgba(255, 255, 255, 0) !important;}
table.calendar td small         {font-size:22px;}
table.calendar td span          {display:block; color:#8d8d8d; font-size:14px; margin:5px auto; text-align:center; width:25px; height:25px; line-height:25px; border:1px solid; border-radius:50%;}
table.calendar td img           {height:45px; margin:10px 0;}




/** TABLET **/

@media (min-width:650px){
    
 /******************************************** UI ELEMENTS ***********************************************/   
 
 .cache                 {display: block;}
.affiche                {display: none!important;}
 
.card                   {min-height:180px;width:100%;padding:10px;color:#82B47D;position: relative;}  
.card .titre p          {width:100%;padding:0%;display: block;}
.card .titre            {width:100%;padding-left:0%;padding-top: 9px;}
    
.bouton                 {height:56px; background-color:#82B47D; justify-content:space-between; display:flex; text-align: left;}

    
/*******************************************Grille Tablet********************************************************/
    
/* Total:940px | Nb:12col. | Col:60px | Gutter:20px */
    
.row                    {margin:0 auto; height: auto;}
.row>.col-md-1          {width:6.382978723404255%;}
.row>.col-md-2          {width:14.8936170212766%;}
.row>.col-md-3          {width:22.91666666666667%;}
.row>.col-md-4          {width:31.25%;}
.row>.col-md-5          {width:39.58333333333333%;}
.row>.col-md-6          {width:47.91666666666667%;}
.row>.col-md-7          {width:56.25%;}
.row>.col-md-8          {width:64.58333333333333%;}
.row>.col-md-9          {width:72.91666666666667%;}
.row>.col-md-10         {width:81.25%;}
.row>.col-md-11         {width:89.58333333333333%;}
.row>.col-md-12         {width:100%;}

.row>.col-md-1.float, 
.row>.col-md-2.float, 
.row>.col-md-3.float, 
.row>.col-md-4.float, 
.row>.col-md-5.float, 
.row>.col-md-6.float, 
.row>.col-md-7.float, 
.row>.col-md-8.float, 
.row>.col-md-9.float, 
.row>.col-md-10.float,
.row>.col-md-11.float, 
.row>.col-md-12.float      {float:left;}

.row>.margin-md-1       {margin-left:8.333333333333333%;}
.row>.margin-md-1-right {margin-right:8.333333333333333%;}
.row>.margin-md-2       {margin-left:16.66666666666667%;}
.row>.margin-md-4-left  {margin-left:68%;}
.row>.margin-md-3       {margin-left:25%;}
.row>.margin-md-4-right {margin-right:34.41%;}
       
}


/** DESKTOP **/

@media (min-width:1024px){
        
/******************************************** footer ***********************************************/    
  
footer                  {padding: 40px 70px;}
footer .container       {max-width: 1050px;margin: auto;}
footer ul               {width:auto;}
    
    
/******************************************** Menu ***********************************************/
       
header                  {height:170px;padding:30px 70px;}
header a.logo  img      {width:175px; max-height:none;}
main                    {padding:30px 70px; min-height:400px;}
main.home               {padding:0px 0px;}
    
nav                     {width:70%!important; position:static;top:0px; left: 0px;width: 100%;background-color:#FCFBF7;height:auto;display:flex;justify-content:space-between;align-content:space-between;}
nav ul                  {width:100%; display:flex; justify-content:flex-end;height:auto;;margin:0px;text-align:right;}
nav ul li               {display:inline-block;}
nav ul li:hover         {display:inline-block;}
nav ul li a             {display:inline-block;text-decoration:none;color:#82B47D;padding-left:10px;height:auto;font-size:16px;}
nav ul li:hover a       {display:inline-block;text-decoration:underline;color:#82B47D;background-color:transparent;}

.menu                   {display:none;}
.menu > div             {display:none;}
.menu > div:hover       {display:none;}
    
    
 /******************************************** UI ELEMENTS ***********************************************/   
  
section#app-mobile      {display: none;}
#app-home               {display:inline-block;}

.cache                  {}
.affiche                {}

.play                   {}
.video-box              {width:100%;height:280px;padding:0px;margin-bottom:0px!important;}
#video2, #video3        {display: block;}
    
.center                 {}
.bouton                 {max-width:200px;}
.card                   {}  
.card .titre p          {}
.card .titre            {}
.icone-box .icone       {}
.icone-box .titre       {}
 
/* Total:940px | Nb:12col. | Col:60px | Gutter:20px */
    
.row                    {margin:0 auto; height: auto;}
.row>.col-lg-1          {width:6.382978723404255%;}
.row>.col-lg-2          {width:14.8936170212766%;}
.row>.col-lg-3          {width:22.91666666666667%;}
.row>.col-lg-4          {width:31.25%;}
.row>.col-lg-5          {width:39.58333333333333%;}
.row>.col-lg-6          {width:47.91666666666667%;}
.row>.col-lg-7          {width:56.25%;}
.row>.col-lg-8          {width:64.58333333333333%;}
.row>.col-lg-9          {width:72.91666666666667%;}
.row>.col-lg-10         {width:81.25%;}
.row>.col-lg-11         {width:89.58333333333333%;}
.row>.col-lg-12         {width:100%;}

.row>.col-lg-1.float, 
.row>.col-lg-2.float, 
.row>.col-lg-3.float, 
.row>.col-lg-4.float, 
.row>.col-lg-5.float, 
.row>.col-lg-6.float, 
.row>.col-lg-7.float, 
.row>.col-lg-8.float, 
.row>.col-lg-9.float, 
.row>.col-lg-10.float,
.row>.col-lg-11.float, 
.row>.col-12.float      {float:left;}

.row>.margin-lg-1       {margin-left:8.333333333333333%;}
.row>.margin-lg-1-right {margin-right:8.333333333333333%;}
.row>.margin-lg-2       {margin-left:16.66666666666667%;}
.row>.margin-lg-4-left  {margin-left:68%;}
.row>.margin-lg-3       {margin-left:25%;}
.row>.margin-lg-4-right {margin-right:34.41%;}

}