@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-light-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../webfonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}