<h1>Offrez à votre corps les bienfaits d'un simple exercice de respiration reconnu.</h1>
<p>
Cette technique de respiration vous aidera à retrouver calme 
et sérénité en seulement trois fois 5 minutes par jour. 
Et une pratique régulière sur le long terme vous apportera 
encore bien plus d'effets bénéfiques...
</p>

<dl>
    <dt>
        <h4>Diminution du stress</h4>
        <p>Impression générale de calme grâce à la baisse du cortisol, secrétée lors d'un état de tension.</p>
    </dt>
    <dd>
        <h4>Diminution du stress avec une baisse du cortisol</h4>
        <h6>Baisse du cortisol, la principale hormone de défense secrétée lors d'un état de tension</h6>
        <img src="public/medias/images/arbre.png">
         <p>
            Qu'est-ce que le cortisol? Le <a href="https://fr.wikipedia.org/wiki/Cortisol">cortisol</a> est une hormone, parfois surnommée aussi l'hormone du stress.
            Ainsi que l'explique le magazine <a href="http://sante.lefigaro.fr/sante/analyse/cortisol/quest-ce-que-cest">Figaro Santé</a>: &laquo;Le cortisol est une hormone fabriquée par les glandes surrénales. Cette hormone joue un rôle essentiel dans l'équilibre du glucose sanguin et la libération de sucre à partir des réserves de l'organisme en réponse à une demande accentuée en énergie. Le cortisol intervient aussi dans le métabolisme des graisses et des protéines. Il joue un rôle d'anti-inflammatoire et participe à la régulation du sommeil.&raquo;
        </p>
        <p>
            Plus spécifiquement encore, on notera à propos de la <a href="https://fr.wikipedia.org/wiki/Cortisol">production du cortisol</a> : &laquo;son excrétion est régulée au niveau de l'hypothalamus qui stimule l'hypophyse par la Corticotropin-releasing hormone (CRH). L'hypophyse sécrète alors l'hormone corticotrope ou ACTH qui stimule la glande surrénale. Le cortisol est alors excrété.&raquo;
        </p>
        <p>
            Spécialiste de la première heure, le Dr David O'Hare expose dans son  <a href="https://www.thierrysouccar.com/bien-etre/livre/coherence-cardiaque-365-107">livre</a> comment le cortisol est la principale hormone de défense sécrétée pendant un stress. "C'est l'action de la <a href="https://www.thierrysouccar.com/bien-etre/info/les-effets-de-la-coherence-cardiaque-989">Cohérence cardiaque sur le cortisol</a> qui explique une grande partie des effets de cette pratique sur le stress.
            Et l'auteur d'évoquer ici l'&laquo;augmentation de la DHEA (déhydroépioandrostérone), une hormone qui entre en jeu pour moduler le cortisol&raquo;. Extrait du livre &laquo;Cohérence cardiaque 365&raquo;, 2012, paru aux Ed. Thierry Souccar.
        </p>
        <p>
            Pour en savoir davantage sur le cortisol et les effets de la cohérence cardiaque sur le stress, vous pouvez aller vous promener sur ces différents sites, dont voici quelques liens: <a href="https://www.coherenceinfo.com/">coherenceinfo</a>, fiche santé sur le cortisol,  <a href="https://www.prevention-sante.eu/psychologie/comprendre-mecanismes-stress-effets-deleteres-sante-1">les mécanismes du stress</a>, <a href="http://inspirezvous.over-blog.com/article-hormones-du-stress-112151908.html">les hormones du stress</a>, <a href="https://www.passeportsante.net/fr/Maux/analyses-medicales/Fiche.aspx?doc=analyse-cortisol-sang"> le rôle du cortisol dans le sang</a>, <a href="https://www.neurosciences.asso.fr/V2/GrdPublic/pdf/FichesCerveau-Chapitre07.pdf"> stress aigu et stress chronique</a>, etc.
        </p>
        <p>
            Le site français coherence-cardiaque.com explique comment <a href="http://www.coherence-cardiaque.com/approfondir_gestion_stress.html">aa Cohérence cardiaque fait diminuer rapidement les symptômes du stress.</a>
        </p>
        <p>
            Selon le site suisse <a href="https://vitagate.ch/public/wem_files/Franzoesisch/Stress/hormones_stress.pdf">Vitagate.ch</a> &laquo;Le cortisol est une hormone qui, en cas de stress, met de l'énergie (par exemple sous forme de sucre) à disposition du corps. La concentration de cortisol dans le sang varie considérablement au cours de la journée. Ce phénomène peut contribuer à protéger le corps contre des graves inflammations. Mais cela rend aussi le corps plus sensible à d'autres problèmes, notamment les infections.&raquo;
        </p>

    </dd>


    <dt>
        <h4>Ralentissement du vieillissement</h4>
        <p>Augmente la DHEA, l'hormone dite &laquo;de la jeunesse&raquo;.</p>
    </dt>
    <dd>
        <h4>Ralentissement du vieillissement</h4>
        <h6>Augmente la DHEA, l'hormone dite &laquo;&nbsp;de la jeunesse&nbsp;&raquo;</h6>
        <img src="public/medias/images/sablier.png">
        <p>
            Le Dr David O'Hare, spécialiste mondial de la Cohérence cardiaque, estime que cette méthode augmente également le taux de DHEA dans le sang. <a href="https://fr.wikipedia.org/wiki/Déhydroépiandrostérone">La déhydroépiandrostérone</a> (DHA ou DHEA) est <a href="https://fr.wikipedia.org/wiki/Androgène">un androgène</a> réputé pour ses effets <a href="https://fr.wikipedia.org/wiki/Vieillissement">antivieillissement .</a> Il est actuellement considéré comme<a href="https://fr.wikipedia.org/wiki/Dopage_(sport)"> un produit dopant</a> par <a href="https://fr.wikipedia.org/wiki/Agence_mondiale_antidopage">l'Agence mondiale antidopage.</a>
        </p>
        <p>
            La production de DHEA fréquemment surnommée aussi &laquo;hormone de jouvence&raquo; décroît régulièrement avec l'âge.
        </p>
        <p>
            Stimuler sa production en pratiquant, comme le préconisent divers thérapeutes, la cohérence cardiaque, permettrait donc de ralentir le vieillissement. Le Dr David O'Hare l'explique, dans <a href="https://www.thierrysouccar.com/bien-etre/livre/coherence-cardiaque-365-107">sa méthode</a>: &laquo;C'est l'action de la cohérence cardiaque sur la DHEA qui explique une grande partie des effets de la cohérence cardiaque sur le ralentissement du vieillissement.&raquo; Un récent article publié sur le site <a href="https://www.pressesante.com/coherence-cardiaque-dr-david-ohare-stresse/">PresseSanté.com</a> lui donne la parole: &laquo;La cohérence entre le cœur et le cerveau émotionnel stabilise le système nerveux autonome, l'équilibre sympathique/parasympathique s'installe. Une fois parvenu dans cet état, nous sommes dans une situation optimale pour faire face à toutes les éventualités. Dans cet état, on peut se débarrasser des palpitations, des attaques de panique, de l'anxiété. Des suivis rigoureux sur des cohortes de personnes à qui l'on a appris cette simple méthode respiratoire ont vu leur taux de DHEA (l'hormone de jouvence) augmenter de 100%. Le taux circulant de cortisol, l'hormone du stress par excellence associée aux poussées de tension artérielle, au vieillissement de la peau autant qu'à la perte de mémoire et de concentration a baissé de 25%.&raquo;
        </p>
    </dd>

    <dt>      
        <h4>Renforcement immunitaire</h4>
        <p>Augmente le taux immunoglobulines A (IgA), renforçant la défense immunitaire.</p>
    </dt>
    <dd>
        <h4>Renforcement immunitaire</h4>
        <h6>Augmente le taux d'immunoglobulines A (IgA), renforçant la défense immunitaire.</h6>
        <img src="public/medias/images/bouclier.png">
        <p>
            Les immunoglobulines est le terme médical utilisé pour désigner les <a href="https://sante-medecine.journaldesfemmes.fr/faq/8106-anticorps-definition" class="vert">anticorps.</a> Les anticorps sont des agents essentiels de notre système de défense immunitaire.
            Pour en connaître davantage sur les différents types d' immunoglobulines, rendez-vous, par exemple, sur le site de vulgarisation scientifique <a href="https://www.futura-sciences.com/sante/definitions/medecine-immunoglobuline-2431/" class="vert">Futura.</a>
            Les immunoglobulines A (IgA) se trouvent dans diverses sécrétions organiques tels que le suc intestinal, la salive ou encore la sueur. Elles sont aussi présentes dans le lait maternel.

        </p>
        <p>
            &laquo;La principale fonction des IgA (pour &laquo;immunoglobulines A&raquo;) est de défendre les muqueuses (tissus mous tapissant l'intérieur des organes creux et des cavités naturelles de l'organisme) et l'épiderme contre les nombreux agents pathogènes (bactéries, virus…) existants. Le déficit en IgA est le plus courant des déficits immunitaires.&raquo; Tiré du site de santé <a href="https://sante-medecine.journaldesfemmes.fr/faq/32852-iga-definition" class="vert">Journal des Femmes.</a>
        </p>
        <p>
            Une personne en déficit d'&laquo;immunoglobulines A&raquo; est plus sujette aux infections du système digestif et respiratoire que la normale.

        </p>
        <p>
            Les <a href="https://fr.wikipedia.org/wiki/Immunoglobuline_A" class="vert">immunoglobulines A</a> (IgA) sont un isotype d'anticorps majoritairement produit au niveau des muqueuses, où elles constituent une première ligne de défense immunitaire contre les toxines et les agents infectieux présents dans l'environnement.
        </p>
        <p>
            Dans son livre &laquo;Cohérence cardiaque 365&raquo;, le Dr David O'Hare, détaille <a href="https://www.thierrysouccar.com/bien-etre/info/les-effets-de-la-coherence-cardiaque-989" class="vert">l'effet de cette technique</a> de respiration sur la défense immunitaire.
            &laquo;Augmentation des IgA salivaires (Immunoglobulines A), des facteurs qui participent à <a href="https://www.thierrysouccar.com/sante/info/comment-fonctionne-le-systeme-immunitaire-510" class="vert">la défense immunitaire.</a> C'est l'action de la Cohérence cardiaque sur les IgA qui explique une grande partie des effets de la Cohérence cardiaque sur le renforcement immunitaire." Extrait du livre &laquo;Cohérence cardiaque 365&raquo;, paru aux Ed. Thierry Souccar en 2012.
        </p>

    </dd>

    <dt>
        <h4>Amélioration de la concentration et de la mémorisation</h4>
        <p>Diminution des troubles de l'attention et de l'hyperactivité.</p>
    </dt>
    <dd>
        <h4>Amélioration de la concentration et de la mémorisation</h4>
        <img src="public/medias/images/chapeau.png">
        <p>
            La difficulté de se concentrer dans un quotidien empli de stress, d'obligations et autres stimulations incessantes est le mal du siècle. Le manque de concentration ne concerne pas que les enfants et les adolescents, mais chacun d'entre nous. L'impression, avérée ou seulement ressentie, de souffrir de troubles de la mémoire, peut aussi provenir d'une trop grande tension due au stress.
        </p>
        <p>
           De nombreux professionnels de la santé font état de nettes améliorations dans la concentration et la mémoire, lorsque sont pratiqués les exercices de Cohérence cardiaque.
            Voici l'un d'eux. 
            On parle beaucoup du TDHA ou TDAH, alias Troubles du déficit d'attention avec ou sans hyperactivité. Pour certains thérapeutes, la Cohérence cardiaque est une méthode qui permet d'améliorer la concentration et donc de diminuer ces troubles, ainsi qu'expliqué <a href="http://deficit-attention.com/coherence-cardiaque-concentration/" class="vert"> ici.</a>
        </p>
        <p>
            Un autre professionnel en matière de concentration vante la Cohérence cardiaque pour booster sa mémoire. Il s'agit de  <a href="https://www.sebastien-martinez.com/blog/ameliorer-concentration-grace-a-coherence-cardiaque/" class="vert">Sébastien Martinez.</a>  Formateur en mémorisation et champion de France de mémoire, Sébastien Martinez explique comment &laquo;améliorer sa concentration grâce à la Cohérence cardiaque&raquo;.

        </p>

    </dd>

    <dt>
        <h4>Meilleure tolérance<br> à la douleur</h4>
        <p>Atténue les maux et les souffrances liées à certaines maladies</p>
    </dt>
    <dd>
        <h4>Meilleure tolérance à la douleur</h4>
        <img src="public/medias/images/choc.png">

        <p>
            Entre autres bienfaits, la méthode de la Cohérence cardiaque réduit les états de tension, ainsi qu'exposé sur la carte <a href="https://www.figma.com/file/PqUTV3Zmo5cEvZEw93h0dEk3/UX?node-id=79%3A37" class="vert">Diminution du stress.</a>
        </p>
        <p>
            Une pratique régulière – et ceci a été confirmé dans de nombreuses études scientifiques au cours de ces deux dernières décennies – témoigne également d'un champ d'action plus large et de bénéfices multiples quant au mieux-être. L'anxiété, l'angoisse, les troubles quotidiens, que ce soit au travail ou à la maison, génèrent des maux qui peuvent aller des douleurs musculaires, dorsales, digestives aux migraines, en passant par de multiples souffrances physiques de tous ordres.
        </p>
        <p>
            Par son impact positif sur une baisse de l'état de tension en général, la Cohérence cardiaque permet une meilleure tolérance de la douleur lors d'inflammation chronique, par exemple.
            Ainsi qu'on peut le lire sur le site <a href="https://www.medinat.fr/blog/189/comprendre-la-coherence-cardiaque" class="vert">Medinat</a>: &laquo;Le champ d'action de la Cohérence cardiaque est large. Elle peut être utilisée pour atténuer certaines douleurs physiques et soulager les troubles psychiques. Comme il s'agit d'une pratique relativement douce, tout le monde peut y recourir, quels que soient l'âge et la condition physique. Ainsi, même les individus qui souffrent de troubles cardiovasculaires, de maladie chronique en tout genre ou encore de diabète peuvent recourir à la cohérence cardiaque pour atténuer les symptômes de leurs maladies ou les douleurs qui accompagnent celles-ci&raquo;.
        </p>

    </dd>

    <dt>
        <h4>Ouverture du coeur</h4>
        <p>Augmente la sécrétion d'ocytocine, appelée aussi “hormone de l'amour”</p>
    </dt>
    <dd>
        <h4>Ouverture du coeur</h4>
        <h6>Augmente la sécrétion d'ocytocine, appelée aussi &laquo;&nbsp;hormone de l'amour&nbsp;&raquo;</h6>
        <img src="public/medias/images/coeur.png">
       <p>
            Pour les pionniers de la Cohérence cardiaque que sont David Servan-Schreiber et David O'HARE, les émotions sont en lien avec les battements du cœur.
        </p>
        <p>
            Appelée aussi l'hormone de l'amour, ou de l'attachement, ou encore de la confiance,  <a href="https://fr.wikipedia.org/wiki/Ocytocine">l'ocytocine</a>, secrétée par des neurones, est étudiée par les scientifiques pour son rôle présumé dans les relations humaines. Publié dans la <em>Revue médicale suisse</em> en 2012, cet  <a href="https://www.revmed.ch/RMS/2012/RMS-333/L-ocytocine-hormone-de-l-amour-de-la-confiance-et-du-lien-conjugal-et-social" class="vert">article</a> titré: &laquo;L'ocytocine: hormone de l'amour, de la confiance et du lien conjugal et social&raquo; en dit plus sur cette molécule.
        </p>
        <p>
            <a href="https://coherence-coeur.com/la-coherence-cardiaque-pour-les-debutants/">L'Institut Heartmath</a>, spécialisé sur le sujet, l'affirme: &laquo;Quand nous éprouvons authentiquement  des émotions comme l'appréciation, la joie, l'intérêt pour l'autre et l'amour, notre rythme cardiaque devient très     ordonné, cohérent. La courbe est lisse, formée d'ondes harmonieuses. C'est ce qu'on appelle la Cohérence cardiaque.&raquo;
            Le Dr David O'Hare assure que la pratique de la Cohérence cardiaque augmente la sécrétion d'ocytocine. Et il explique comment dans son livre  <a href="https://www.thierrysouccar.com/bien-etre/livre/coherence-cardiaque-365-107" class="vert">Cohérence cardiaque 365</a>  (Ed. Thierry Souccar): &laquo;Appelée aussi l'hormone de l'amour, ou de l'attachement, l'ocytocine est un neurotransmetteur d'information émotionnelle très curieux. Elle favorise l'attachement et a été appelée hormone de l'amour. Elle est particulièrement sécrétée par les femmes qui accouchent et qui allaitent et elle semble renforcer le lien avec leur enfant. La sécrétion accrue d'ocytocine par la Cohérence cardiaque procure du plaisir à être en présence de personnes aimées. Avoir du cœur, avoir le cœur sur la main, avoir un grand cœur sont des expressions populaires ancestrales qui trouvent ainsi un écho biologique&raquo;.

        </p>
        <p>
            Pour comprendre les mécanismes de l'ocytocine, surnommée ici &laquo;l'hormone du câlin&raquo;, regardez cette conférence (sous-titrée en français) donnée par la psychologue Kelly McGonial et présentée sur la plateforme  <a href="https://www.ted.com/" class="vert">Ted.com.</a> Elle propose  <a href="https://www.youtube.com/watch?v=OXEITtka68c" class="vert">&laquo;une façon complètement nouvelle de réfléchir au stress&raquo;.</a> Son credo? Cesser de craindre le stress mais plutôt en faire un allié. Et  <a href="http://kellymcgonigal.com/" class="vert">la thérapeute</a> américaine de préciser: &laquo;On peut modifier notre perception du stress en réalisant que l'ocytocine, libérée lors d'une réponse à une situation stressante, se comporte comme un anti-inflammatoire naturel. Via cette hormone, le stress nous donne accès à nos cœurs.&raquo;
        </p>
            

    </dd>

    <dt>
        <h4>Meilleure régulation<br> du taux de sucre</h4>
    </dt>
    <dd>
        <h4>Trop de glucose dans le sang peut engendrer des troubles cardio-vasculaires</h4>
        <img src="public/medias/images/sucres.png">
        <p>
            Chacun sait que taux de sucre dans le sang est néfaste s'il est trop élevé. Une présence élevée de glucose dans le corps peut favoriser les troubles cardio-vasculaires et &laquo;la contraction des vaisseaux sanguins peut augmenter le risque de crise cardiaque&raquo; (Lire <a href="https://www.pourquoidocteur.fr/Articles/Question-d-actu/13573-Crise-cardiaque-comment-le-sucre-augmente-les-risques" class="vert">ici </a>dans <a href="https://www.pourquoidocteur.fr/" class="vert"> Pourquoidocteur.fr</a>). 
        </p>
        <p>
           Une meilleure régulation du taux de sucre est particulièrement indiquée chez les diabétiques de type 2, sujets entre autres à d'accidents neurologiques et circulatoires liés à cette maladie, insuffisamment diagnostiquée chez nous.
        </p>
        <p>
            La technique de la Cohérence cardiaque permet une meilleure régulation du taux de sucre, ainsi que le prétend le Dr David O'Hare, dans ses ouvrages, conférences et sur son <a href="https://www.coherenceinfo.com/videotheque/videotheque-david-servan-schreiber/" class="vert">site</a> (coherenceinfo.com)
        </p>
    </dd>

    <dt>
        <h4>Meilleure récupération après l'effort</h4>
        <p>Améliore la vitalité et l'endurance lors de la pratique d'une activité physique</p>
    </dt>
    <dd>
        <h4>Meilleure récupération après l'effort</h4>
        <img src="public/medias/images/chaussure.png">
         <p>
            La pratique de la Cohérence cardiaque permet de faire baisser le stress, de réguler le rythme cardiaque et donc permet aussi une meilleure récupération après l'effort. La pratique de la Cohérence cardiaque existe dans le milieu du sport de haut niveau depuis de nombreuses années. Ce fut l'une des toutes premières applications de la Cohérence cardiaque. Elle permet une meilleure récupération pendant et après l'effort pour les sportifs, même si l'on n'est pas un sportif de haut niveau.  
         </p>
         <p>
             <a href="http://www.ifemdr.fr/" class="vert">Selon l'Institut français EMDR</a> (Eye Movement Desensitization &amp; Reprocessing), méthode de psychothérapie basée sur le mouvement des yeux, &laquo;<a href="http://www.ifemdr.fr/la-coherence-cardiaque-pour-les-sportifs/" class="vert">plusieurs sportifs</a> comme Tiger Wood, Michael Jordan ou Florent Manaudou, pratiquent la Cohérence cardiaque dans un but d'optimisation de leurs performances.&raquo;  Et le site de poursuivre: &laquo;La Cohérence cardiaque permet également de mieux gérer toutes les situations (gestion de l'échec, peur de gagner…) afin de prendre les bonnes décisions au milieu de l'action et d'assurer un geste fluide, relâché,  performant. La Cohérence cardiaque peut être utilisée avant, pendant et après les compétitions.&raquo;
         </p>
    </dd>

    <dt>
        <h4>Diminution de l'hypertension artérielle</h4>
        <p>Amélioration de la résistance face aux risques cardio-vasculaires</p>
    </dt>
    <dd>
        <h4>Diminution de l'hypertension artérielle</h4>
        <h6>Dans son livre &laquo;&nbsp;Cohérence cardiaque 365&nbsp;&raquo;, le Dr David O'Hare, détaille <a href="https://www.thierrysouccar.com/bien-etre/info/les-effets-de-la-coherence-cardiaque-989">l'effet de cette technique</a> de respiration sur la défense immunitaire. </h4>
        <img src="public/medias/images/cardiogramme.png">
         <p>
            "Diminution de <a href="https://www.thierrysouccar.com/sante/info/quest-ce-que-lhypertension-arterielle-529" class="vert">l'hypertension artérielle</a> pour les hypertensions artérielles légères à modérées. Cette diminution est à présent reconnue comme étant un traitement intéressant avant la mise en place de médicaments". Extrait du livre "Cohérence cardiaque 365", 2012, paru aux Ed. Thierry Souccar.
        </p>
        <p>
            A la tête de l'Académie  <a href="https://www.masantenaturelle.com/jean-pierre_demets.html" class="vert">Ma Santé Naturelle</a>, le naturopathe Jean-Pierre Demets fait le lien entre baisse de la tension et Cohérence cardiaque. Il explique: &laquo;Dans son livre &laquo;Guérir&raquo;, le  <a href="https://www.coherenceinfo.com/videotheque/videotheque-david-servan-schreiber/" class="vert">Dr David Servan-Schreiber</a> décrit la technique de la Cohérence cardiaque telle que pratiquée par le Heartmath Institute. Cette technique est en fait une technique de relaxation, elle consiste à apaiser les battements cardiaques par l'utilisation dans un premier temps de respirations profondes, et dans un deuxième et troisième temps par concentration mentale sur le cœur. Il se produit alors un apaisement du rythme   cardiaque et de la pression artérielle. La relaxation psychosomatique permet d'obtenir plus facilement le même résultat. 

            Il est vital de rechercher le calme et la détente. Rappelez-vous que le stress entraîne immanquablement une élévation de la pression artérielle.&raquo; 
        </p>
        <p>
            Comme on le lit sur le site spécialisé en santé  <a href="https://www.onmeda.fr/" class="vert">Onmega.fr</a>: &laquo;La Cohérence cardiaque est un  <a href="https://www.onmeda.fr/forme-et-bien-etre/coherence-cardiaque.html" class="vert">outil thérapeutique.</a>  Après une séance de Cohérence cardiaque, la fréquence cardiaque et la pression artérielle baissent doucement… Cette thérapie par la respiration permet ainsi de protéger notre santé cardiovasculaire,  <a href="https://www.onmeda.fr/forme-et-bien-etre/coherence-cardiaque.html" class="vert">combattre l'hypertension</a> et les maladies générées par le stress chronique. En contrôlant notre respiration, nous pouvons contrôler notre rythme cardiaque mais aussi réguler nos émotions et ainsi apaiser notre cerveau! A l'instar du yoga, de la méditation ou de la relaxation, la Cohérence cardiaque permet de réguler le stress et l'anxiété. Et donc de réduire également les maladies sensibles au stress, comme les maladies auto-immunes et cardiovasculaires.  C'est un véritable outil thérapeutique&raquo;.
        </p>
        <p>
            Selon le mensuel <em>&laquo;Santé Magazine&raquo;</em>, 20 millions de Français souffriraient d'hypertension. 
            Et de vanter la technique de la Cohérence cardiaque pour apprivoiser le stress, et faire donc  <a href="https://www.santemagazine.fr/medecines-alternatives/approches-naturelles/5-facons-naturelles-de-faire-baisser-son-hypertension-173304" class="vert">diminuer l'hypertension artérielle.</a> &laquo;Sans être la cause principale de l'hypertension artérielle,  <a href="https://www.santemagazine.fr/sante/fiche-maladie/stress-177599" class="vert">le stress</a> peut l'aggraver, surtout chez les personnes exposées au stress professionnel, à des accès de colère, ou encore ayant un tempérament intériorisé. Une série d'études a montré l'efficacité de la Cohérence cardiaque  à réduire l'hypertension artérielle liée au stress. 
            La Cohérence cardiaque est une respiration cadencée: inspirez par le nez 5 secondes, marquez un temps d'arrêt, puis expirez par le nez ou la bouche sur 5 secondes en vous concentrant sur votre souffle. L'exercice doit durer 5 minutes, le temps nécessaire pour équilibrer le système nerveux qui régule notre pression artérielle et notre fréquence cardiaque. Dans l'idéal, pratiquez-le trois fois par jour.&raquo; Et le mensuel de conclure: &laquo;Souvent évoqués pour réduire le stress, le yoga, l'acupuncture et la relaxation n'ont pas démontré d'effets comparables.&raquo;

        </p>

    </dd>




             
                    

                    

                   

                    

                            

                            







</dl>