<% if( datas.isLoguedIn ){ %>

    <link rel="stylesheet" href="public/css/swiper.min.css">

    <!-- Swiper -->
    <div class="swiper-home-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" id="bubulle">
                <p></p>
                <img src="public/medias/game/game_empty.png">
            </div>

            <div class="swiper-slide" id="today">
                <h1></h1>
                <div></div>
            </div>

            <div class="swiper-slide">
                <% if( typeof sessions['FirstnameUser'] != 'undefined' && sessions['FirstnameUser'] !== 'null'  && sessions['FirstnameUser'] !== '' ){ %>
                    <h1><%= datas.sessions.FirstnameUser %><% if( datas.sessions['LastnameUser'] !== 'null' && datas.sessions['LastnameUser'] !== '' ){ %> <%= datas.sessions['LastnameUser'] %><% } %>, le savais-tu&nbsp;?</h1>
                <% }else{ %>
                    <h1>Le savais-tu&nbsp;?</h1>
                <% } %>

                <% notifications.forEach( function(notification){ %>
                    <p><%= notification %></p>
                <% }); %>
                <a class="btn btnDark" href="#cc">En savoir plus...</a>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-home-pagination"></div>
    </div>

    <div id="warningcc" class="modal">
        <p><small><strong>Mise en garde</strong></small></p>
        <p><small>Comme tout exercice impliquant une pratique physique, les risques liés à un effort – si minime soit-il dans le cas de la Cohérence cardiaque -, ne sont pas inexistants.</small></p>
        <p><small>Il est donc avisé de demander un avis médical.</small></p>
        <p><small>Une fois acceptée, cette mise en garde n’apparaîtra plus sur votre écran.</small></p>
        <a class="btn" href="#exercice">J’ai compris</a>
    </div>

<% }else{ %>
   
    <% notifications.forEach( function( notification ){ %>
        <div class="notification"><%= notification %></div>
    <% }); %>
    <img id="logoHome" src="public/svg/logo.svg" alt="Vitabulle">

<% } %>