<h6 class="margin-top-regular">
Choisissez le commentaire qui sera associé à votre publication.
</h6>

<div id="share-sentences">
    <span class="btn">Et une étoile de plus !</span>
    <span class="btn">Je me sens super bien !</span>
    <span class="btn">Essayer, c'est génial !</span>
    <span class="btn">Voilà un bon assistant !</span>
    <span class="btn">Le stress, c'est du passé !</span>
    <span class="btn">Je ne m'en sépare plus !</span>
</div>

<h5 class="margin-top-regular disabled">
Puis choisissez le media de partage souhaité.
</h5>

<div class="share disabled">
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
    <a href=""><i class="fas fa-envelope-square"></i></a>
    <a href=""><i class="fab fa-whatsapp-square"></i></a>
</div>

<script src="public/js/share.js"></script>