*{box-sizing:border-box}

html{position:relative; min-height:100%}

body{margin:0; padding:0; font-family:Roboto; font-size:22px; font-weight:300; color:#82B47D;}
body.no-skin{background:#fbfcf7;}
header, main, footer, section, aside, figure, figcaption{display:block;}

div.container{min-height:100vh; padding:75px 0 0 0;}

header{}
header nav{position:fixed; top:0px; width:100%; height:65px; z-index:100;}

main{max-width:650px; margin:0 auto 0 auto; padding:0 40px; position:relative; left:0; transition:left 0.5s;}

body.results-day main, body.results main{max-width:none;}
body.exercice-session div.container{padding:0;}
body.exercice-session main{width:100%; height:100vh; overflow:hidden; margin:auto;}
body.exercice main{position:static;}

footer{position:fixed; bottom:0px; width:100%; left:0; transition:left 0.5s;}
footer nav{width:100%; margin-bottom:10px;}

body.results main, body.results-day main, body.home main{margin:0 auto; padding:0;}

/********************************************************************************* 
*      MISE EN FORME
*********************************************************************************/
h1{font-size:31px; font-family:Roboto; font-weight:bold; letter-spacing:1px; margin-bottom:15px; margin-top:5px;}
h2{font-size:22px; font-family:Roboto; font-weight:300;}
h3{font-size:53px; font-family:Roboto; font-weight:100; text-align:center; padding:105px 0 0 0; line-height:45px; text-shadow:1px 1px 1px rgba(0,0,0, 0.12);}
h4{}
h5{font-size:20px; font-family:Roboto; font-weight:100; text-align:center; padding:105px 0 0 0; text-shadow:1px 1px 1px rgba(0,0,0, 0.12);}
h6{font-size:20px; font-family:Roboto; font-weight:100; text-align:center; padding:0px 0 0 0; margin-top:10px; text-shadow:1px 1px 1px rgba(0,0,0, 0.12);}
.margin-top-regular{padding-top:20px; margin-top:20px;}

.small{font-size:16px;}

h3 span{font-size:28px;}

p{font-size:21px; font-family:Roboto; font-weight:300; margin-top:5px;}
h1+p{margin-top:10px;}
hr{border:none; height:1px; background:#ffffff; /*box-shadow:1px 3px 1px rgba(0,0,0, 0.12);*/}
header > a{position:absolute; z-index:10; top:32px; left:32px;}
header > h1{position:absolute; top:32px; width:100%; text-align:center; 
    padding:0 60px; margin:0;}

main > h4{text-align:center;}

dl{}
dt{border-top:1px solid #82B47D; cursor:pointer; padding:0 10px;}
dt:first-child{border-top:1px solid #82B47D;}
dt h4{margin:10px 0;}
dt p{margin:10px 0; font-size:15px;}
dt img{width:60px; float:left; margin:0 20px;}
dd{margin:0 10px; display:none; padding:0; border-top:1px solid #c8fbc3;}
dd img{display:block; width:220px; margin:0 auto;}
dd h4{margin:15px 0;font-size:18px;}
dd h6{margin-bottom:15px;font-size:18px;}
dd p{font-size:15px;}

video{width:100%;}

.disabled{opacity:0.5;}


/****** Home page image ********/
img#logoHome{position:absolute; top:225px; right:0; bottom:0; left:0; margin:auto; width:180px;}

/****** icones ******/
body.no-skin header a{width:42px; height:42px; display:block; background-color:#eee; border-radius:50%;}
header nav > a{padding:10px; margin:10px 0 0 10px; display:inline-block; position:relative; z-index:1000;}
header a > img{width:22px;}
header a > img.arrow-green, body.no-skin header a > img{display:none;}
body.no-skin header a > img.arrow-green{display:block;}

header nav > div.palette.palette-hide img.icon-settings{display:none;}
header nav img.icon-settings{height:auto; position:absolute; cursor:pointer;}
header nav img.icon-settings.open{display:block; width:36px; right:32px; top:18px;}
header nav img.icon-settings.close{display:none;}
body.menu-on header nav img.icon-settings.close{display:block; width:28px; right:32px; top:18px;}
body.menu-on header nav img.icon-settings.open{display:none;}


/****** Form *******/
label{display:block; width:100%; position:relative; margin:30px 0 0 0; color:#fff;}
label span{position:absolute; z-index:1; top:17px; left:17px; transition:all 0.5s;}
label span.upperlabel{top:-30px; color:#ffffff !important;}
label a{color:#fff; outline:none;}

input[type="text"], input[type="email"], input[type="password"], textarea{
    position:relative;
    width:100%; padding:21px 35px 21px 21px; margin:0 0 5px 0;
    border:none; outline:none;
    background-color:white; border-radius:5px;
    font-size:20px;}
input:-webkit-autofill{background-color:white !important;}

textarea{height:50vh;}

input[type="checkbox"]{
    position:relative; display:inline-block;
    width:0; height:0; margin:14px 25px 14px 14px;
    background:transparent; border:none; outline:none;
    vertical-align:middle;}
input[type="checkbox"]::before{
    content:''; display:inline-block; 
    position:absolute; top:-18px; left:-14px;
    height:35px; width:35px; padding:0px;
    vertical-align:middle;
    background-color:white; border-radius:5px;}
input[type="checkbox"]:checked::after{
    content:''; display:block;
    position:absolute; top:-15px; left:-11px;
    height:29px; width:29px;
    box-shadow:0px 3px 6px rgba(0,0,0, 0.16) inset; background:#8bffa7; border-radius:7px;
}

.error{font-weight:300; display:block; font-size:20px; margin:0px 20px 55px 0; padding:0 0 0 30px;}

/****** Boutons ******/
button, .btn{display:block; transition:all 0.5s; cursor:pointer; width:80%; max-width:360px;
    min-height:56px; margin:5px 10% 0px 10%;  border:none;
    padding:13px 8px; background:#FCFBF7; border-radius:7px; 
    font-family:Roboto; font-weight:normal; font-size:22px; text-decoration:none; text-align:center; 
}
.btn.btnsmall{padding:0px 8px; font-size:16px;}

.parametre .btn{width:auto;}

label button, label .btn{margin-top:40px;}

.btnDark{background:rgba(0,0,0,0.1) !important; color:#FCFBF7 !important;}
.btnLight{background:transparent !important; color:white !important;}

.btn-setting{background-color:rgba(0,0,0,0.1); 
    min-height:44px; line-height:24px; margin:15px 0; padding:10px 14px;
    font-weight:300; color:#FCFBF7 !important; text-align:left;
}
.btn-white{background-color:#FCFBF7; min-height:44px; line-height:44px;
    margin:15px 0; padding:0 14px; 
    font-weight:300; text-decoration:none; text-align:left;
}

.btn-white svg{float:right; margin-top:14px;}
.btnDarkLabel{color:#000000;}
.btnClearLabel{color:#ffffff;}
.btn.hide{opacity:0;}

a.icon-button{display:block; width:50px; height:50px; margin:70px auto 30px auto; display:none;}

a.btn div{line-height:normal; font-size:18px; padding:0 10px; height:0; transition:all 0.5s;}
a.btn div.open{height:auto; border-top:1px solid rgba(0, 0, 0, 0.1); padding:10px;}
    
body.no-skin a.btn{margin-top: 40px;}
div#formactivate button.btn{margin-top: 40px;}

/*** Notifications ***/
div.notification{ margin:0 40px 35px 40px; padding:10px 15px; color:#fff; font-size:17px; background-color:rgba(255, 255, 255, 0.1); border-radius:7px;}


/*** Effets survol & focus ***/
button:hover, .btn:hover, .btn-setting:hover{}

div.notification > div i:hover, div.modal > div i:hover{text-shadow:1px 0px 2px rgba(0,0,0, 0.12);}
label a:focus, .share a:hover i{text-shadow:1px 0px 3px rgba(0,0,0, 0.2);}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus,
input[type="checkbox"]:focus::before, button:focus{}

.btn:focus, .btn-setting:focus{}

/****** Form Message ******/
div.msg{color:#fff; font-size:17px; transition:height 0.5s, padding-bottom 0.5s; opacity:1; overflow:hidden; height:0;}
div.msg h3{padding-top:0;}
div.msg img{display:block; margin:30px auto; max-width:110px;}
div.msg a{color:#fff;}

div.msg-error{padding:0px 0px 0px 50px; background-image:url(../svg/warning-white.svg); background-size:36px; background-repeat:no-repeat; background-position:0 0;}
label div.msg-error{padding:0px 0px 0px 28px; background-image:url(../svg/warning-white-small.svg); background-size:20px;}

/* Form Message - Animate state */
div.msg.opacitynone{opacity:0;}
div.msg.close{padding-bottom:0; height:0;}
div.msg.open{padding-bottom:20px; height:auto;}
label div.msg.open{padding-bottom:12px;}

input.field-error{background-image:url(../svg/warning-grey.svg); background-size:28px; background-repeat:no-repeat; background-position:right 23px;}

/****** Couleurs interface ******/
div.parametre >span{color:#FCFBF7;}

body:not(.green):not(.blue):not(.red):not(.beige):not(.grey) .btn,
body:not(.green):not(.blue):not(.red):not(.beige):not(.grey) .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color:#82B47D;
}


/* Color green = Color by default & First color */
body.green,
body.green input[type="text"], body.green input[type="password"], body.green input[type="email"], textarea,
body.green modal,
body.green h2,
body.green .btn,
body.green a.btn,
body.green button,
body.green div.modal p, 
body.green table.calendar td,
body.green label span,
body.green .btn-white{color:#93C88E;}
body.green div.calendar-bkg .btnDark{color:#93C88E !important;}
body.green menu,
body.green header nav,
body.green:not(.exercice) header,
body.green div.container,
body.green div.countdown,
body.green div.modal .btn,
body.green .swiper-slide .btn,
body.green.results-day footer .btn,
body.green header > div.palette menu,
body.green div.parametre button.off span{background-color:#93C88E;}
body.green div.parametre button{border-color:#93C88E;}
body.green ::-webkit-input-placeholder/* Chrome/Opera/Safari */{ 
  color:#93C88E;
}
body.green ::-moz-placeholder{ /* Firefox 19+ */
  color:#93C88E;
}
body.green :-ms-input-placeholder{ /* IE 10+ */
  color:#93C88E;
}
body.green :-moz-placeholder{ /* Firefox 18- */
  color:#93C88E;
}

body.green .btn-white svg{
    fill:#93C88E;
}

/* Color blue = Second color */
body.blue,
body.blue input[type="text"], body.blue input[type="password"], body.blue input[type="email"], textarea,
body.blue modal,
body.blue h2,
body.blue .btn,
body.blue a.btn,
body.blue button,
body.blue div.modal p, 
body.blue table.calendar td,
body.blue label span,
body.blue .btn-white{color:#5A9DBF;}
body.blue div.calendar-bkg .btnDark{color:#5A9DBF !important;}
body.blue menu,
body.blue header nav,
body.blue:not(.exercice) header,
body.blue div.container,
body.blue div.countdown,
body.blue div.modal .btn,
body.blue .swiper-slide .btn,
body.blue.results-day footer .btn,
body.blue header > div.palette menu,
body.blue div.parametre button.off span{background-color:#5A9DBF;}
body.blue div.parametre button{border-color:#5A9DBF;}
body.blue ::-webkit-input-placeholder/* Chrome/Opera/Safari */{ 
  color:#5A9DBF;
}
body.blue ::-moz-placeholder{ /* Firefox 19+ */
  color:#5A9DBF;
}
body.blue :-ms-input-placeholder{ /* IE 10+ */
  color:#5A9DBF;
}
body.blue :-moz-placeholder{ /* Firefox 18- */
  color:#5A9DBF;
}

body.blue .btn-white svg{
    fill:#5A9DBF;
}

/* Color red = Third color*/
body.red,
body.red input[type="text"], body.red input[type="password"], body.red input[type="email"], textarea,
body.red modal,
body.red h2,
body.red .btn,
body.red a.btn,
body.red button,
body.red div.modal p, 
body.red table.calendar td,
body.red label span,
body.red .btn-white{color:#E39090;}
body.red div.calendar-bkg .btnDark{color:#E39090 !important;}
body.red menu,
body.red header nav,
body.red:not(.exercice) header,
body.red div.container,
body.red div.countdown,
body.red div.modal .btn,
body.red .swiper-slide .btn,
body.red.results-day footer .btn,
body.red header > div.palette menu,
body.red div.parametre button.off span{background-color:#E39090;}
body.red div.parametre button{border-color:#E39090;}
body.red ::-webkit-input-placeholder/* Chrome/Opera/Safari */{ 
  color:#E39090;
}
body.red ::-moz-placeholder{ /* Firefox 19+ */
  color:#E39090;
}
body.red :-ms-input-placeholder{ /* IE 10+ */
  color:#E39090;
}
body.red :-moz-placeholder{ /* Firefox 18- */
  color:#E39090;
}

body.red .btn-white svg{
    fill:#E39090;
}

/* Color beige = fourth color */
body.beige,
body.beige input[type="text"], body.beige input[type="password"], body.beige input[type="email"], textarea,
body.beige modal,
body.beige h2,
body.beige .btn,
body.beige a.btn,
body.beige button,
body.beige div.modal p, 
body.beige table.calendar td,
body.beige label span,
body.beige .btn-white{color:#DFBDA5;}
body.beige div.calendar-bkg .btnDark{color:#DFBDA5 !important;}
body.beige menu,
body.beige header nav,
body.beige:not(.exercice) header,
body.beige div.container,
body.beige div.countdown,
body.baige div.modal .btn,
body.beige .swiper-slide .btn,
body.beige.results-day footer .btn,
body.beige header > div.palette menu,
body.beige div.parametre button.off span{background-color:#DFBDA5;}
body.beige div.parametre button{border-color:#DFBDA5;}
body.beige ::-webkit-input-placeholder/* Chrome/Opera/Safari */{ 
  color:#DFBDA5;
}
body.beige ::-moz-placeholder{ /* Firefox 19+ */
  color:#DFBDA5;
}
body.beige :-ms-input-placeholder{ /* IE 10+ */
  color:#DFBDA5;
}
body.beige :-moz-placeholder{ /* Firefox 18- */
  color:#DFBDA5;
}

body.beige .btn-white svg{
    fill:#DFBDA5;
}

/* Color grey = Fifth color */
body.grey,
body.grey input[type="text"], body.grey input[type="password"], body.grey input[type="email"], textarea,
body.grey modal,
body.grey h2,
body.grey .btn,
body.grey a.btn,
body.grey button,
body.grey div.modal p, 
body.grey table.calendar td,
body.grey label span,
body.grey .btn-white{color:#B9B9B9;}
body.grey div.calendar-bkg .btnDark{color:#B9B9B9 !important;}
body.grey menu,
body.grey header nav,
body.grey:not(.exercice) header,
body.grey div.container,
body.grey div.countdown,
body.grey div.modal .btn,
body.grey .swiper-slide .btn,
body.grey.results-day footer .btn,
body.grey header > div.palette menu,
body.grey div.parametre button.off span{background-color:#B9B9B9;}
body.grey div.parametre button{border-color:#B9B9B9;}
body.grey ::-webkit-input-placeholder/* Chrome/Opera/Safari */{ 
  color:#B9B9B9;
}
body.grey ::-moz-placeholder{ /* Firefox 19+ */
  color:#B9B9B9;
}
body.grey :-ms-input-placeholder{ /* IE 10+ */
  color:#B9B9B9;
}
body.grey :-moz-placeholder{ /* Firefox 18- */
  color:#B9B9B9;
}

body.grey .btn-white svg{
    fill:#B9B9B9;
}


body.green,
body.blue,
body.red,
body.beige,
body.grey{color:white;}
body.exercice.green header nav,
body.exercice.blue header nav,
body.exercice.red header nav,
body.exercice.beige header nav,
body.exercice.grey header nav{background-color:transparent;}


/**** Partage ****/
div.share{display:flex; max-width:320px; margin:40px auto; justify-content:space-between;}
div.share a{display:block; width:70px; height:70px;}
div.share a i{font-size:60px; color:#fff;}


/****** Palette de réglage ******/
header > div.palette{position:absolute; z-index:10; top:16px; right:20px; padding:18px 18px 30px 18px;  border-radius:10px 10px 0 0; z-index:1000;}
header > div.palette.palette-hide{display:none;}

header menu{position:fixed; min-height:calc(100vh - 65px); max-width:600px; width:100%; top:65px; right:-600px; padding:0 18px 10px 18px; margin:0; z-index:1000; transition:right 0.5s;}
body.menu-on header menu{right:0;}


menu div.parametre, menu ul.menu-color{margin-left:14px;}

div.parametre{margin:0 15px 25px 15px}
div.parametre.margin-large{margin:55px 0;}
div.parametre > span{display:block; float:left; margin:0 0 15px 0;}
/* div.parametre.parametre-opposite > span{color:#fff !important;} */
div.parametre div{float:right; width:auto; height:auto; min-height:0; min-width:0;}
div.parametre button{float:right; width:auto; height:auto; min-height:0; min-width:0; padding:5px; margin:0; background-color:rgba(0,0,0,0.1); border-radius:7px; border:none;}
div.parametre > button{}
/* div.parametre.parametre-opposite > button{border-color:#fff !important; background-color:#fff !important;} */
div.parametre button span{display:block; height:100%; width:32px;}

div.parametre button.on span{background:#FCFBF7; border-radius:4px; float:right; width:20px; height:20px;}

div.parametre button.on::before{content:"on"; color:#FCFBF7; font-size:17px; line-height:20px; float:left; margin:0 10px 0 5px;}

div.parametre button.off span{border-radius:4px; float:left; width:20px; height:20px;}

div.parametre button.off::before{content:"off"; color:#FCFBF7; font-size:17px; line-height:20px; float:right; margin:0 5px 0 10px;}

div.parametre::after{display:block; content:''; clear:both;}


div.parametre span.minified{cursor:pointer;}
div.parametre span.minified svg{margin:0 10px; transition:all 0.2s;}
div.parametre.open span.minified svg{transform:rotate(-180deg);}

div.parametre ul.minified-list{clear:both; background-color:rgba(0, 0, 0, 0.05); font-style:italic; list-style:none; margin:0; border-radius:0 0 7px 7px; font-size:18px;}
div.parametre ul.minified-list li{overflow:hidden; height:0; transition:all 0.5s;}

div.parametre.open ul.minified-list{padding:10px}
div.parametre.open ul.minified-list li{height:auto; overflow:visible;}
div.parametre.open ul.minified-list > li:not(:first-child){margin:10px 0 0 0;}

div.parametre ul.select li{list-style:none; padding:10px 0 10px 0; font-style:normal;}
div.parametre ul.select li > span{cursor:pointer;}
div.parametre ul.select li button{}
div.parametre ul.select li button span{border-radius:4px; float:left; width:20px; height:20px;}
div.parametre ul.select li button.checked span{background:#FCFBF7;}

/****** Choix couleurs ******/
ul.menu-color{clear:both; display:flex; justify-content:space-between; list-style:none; padding:0; margin:15px 14px 35px 0px;}
ul.menu-color li{border-radius:100%; border:2px solid #FCFBF7;}
ul.menu-color .btn{
        width:32px; height:32px; min-height:32px; border-style:solid; padding:0px; 
        border-radius:0; border:0; box-shadow:none; 
        margin:0; background:transparent; display:block;}
ul.menu-color li.actif a{z-index:1; position:relative;}
ul.menu-color li:first-child{ background-color:#93C88E;} /* Color green */
ul.menu-color li:nth-child(2){background-color:#5A9DBF;} /* Color blue */
ul.menu-color li:nth-child(3){background-color:#E39090;} /* Color red */
ul.menu-color li:nth-child(4){background-color:#DFBDA5;} /* Color beige */
ul.menu-color li:last-child{background-color:#B9B9B9;} /* Color grey */


  

/****** Modal ******/
div.modal{position:absolute; top:-150vh; left:0px; right:0px; z-index:1000;
    max-width:550px; padding:24px 35px; margin:0 auto;
    background-color:white; border-radius:10px; width: 90%; transition:top 1s;}
div.modal > div i{
    position:absolute; right:10px; top:7px; transition:all 0.5s;
    text-shadow:none; cursor:pointer;}
div.modal .btn{color:#ffffff !important;}
div.modal.drop{top:0;}

/**** Evaluation ****/
figure.eval{margin:0;}
figure.eval div{margin:10px 0; padding: 15px; cursor:pointer; transition:all 0.4s; background-color:rgba(255, 255, 255, 0.1); border-radius:7px;}
figure.eval div::after{display:block; content:''; clear:both;}
figure.eval div:hover{background-color:rgba(255, 255, 255, 0.2);}
figure.eval div img{width:100%; max-width:80px; float:left;}
figure.eval div span{display:block; float:left; font-size:15px; width: calc( 100% - 120px); margin: 15px 20px 0 20px; color:#fff;}

figure.eval-result{position:relative; height:200px; margin:60px auto 20px auto; text-align:center;}
figure.eval-result img{width:40%; max-width:170px;}


/*****  Particules *****/
div.countdown{width:100%; height:100vh; background:#00C2FF; overflow:hidden; position:absolute; z-index:100; left:0; top:0; opacity:1; transition:opacity 0.5s, z-index 0.8s;}
div.countdown.transparent{opacity:0;  z-index:0;}
div.countdown > span{position:absolute; top:50%; margin:-125px auto 0 auto; left:0; right:0; display:block; 
                 font-size:150px; line-height:150px; height:150px; font-weight:100; 
                 color:rgba(255, 255, 255, 1); text-align:center; text-shadow:1px 1px 1px rgba(0,0,0, 0.12); opacity:1; transition:opacity 0.1s;}
div.countdown > span.transparent{opacity:0;}
div.countdown > span.semitransparent{opacity:0.3;}

div.particules{width:0px; height:0px; position:absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto;}
div.particules > span{display:block; background:rgba(255, 255, 255, 1); position:absolute; left:-10px; top:-10px; border-radius:50%; transition:opacity 0.5s;}
div.particules > span.fadeout{opacity:0;}

div.particulemeterBig, div.particulemeterSmall{transition: opacity 1.75s; opacity:0;}
div.particulemeterBig.opacity, div.particulemeterSmall.opacity{opacity:1;}

div.particulemeter{border-radius:50%; box-sizing:border-box; border:5px solid rgba(255, 255, 255, 0.5); position:absolute; margin:auto auto; bottom:0px; top:0; left:0; right:0;}

div.duree{width:100%; height:100vh; background:rgba(0, 0, 0, 0.1); position:absolute; top:0px; left:-100%; transition:transform 300s linear;}
div.duree.animated{transform: translateX(100%);}
div.textsupport{width:100%; position:absolute; z-index:90; left:0; top:26px; text-align:center; opacity:0; transition:opacity 3s; color:#fff;}
div.textsupport.appear{opacity:1;}


/*** Results ***/
table.calendar-title{width:100%; max-width:800px; margin:10px auto 0 auto; border-spacing:0;}
table.calendar-title th{font-size:35px; color:#ffffff; padding:5px 0; position:relative;}
table.calendar-title th a{position:absolute; top:0px; text-decoration:none; color:#fff; font-weight:100;}
table.calendar-title th a:first-child{left:10px;}
table.calendar-title th a:last-child{right:10px;}
table.calendar-title th h4{font-size:28px; margin:0; font-weight:100;}
table.calendar-title tr.cal_d_week th{width:14.28571428571429%; font-size:14px; font-weight:300; padding:5px 0 5px 0;}

table.calendar{width:100%; max-width:800px; margin:0 auto 0 auto; border-spacing:0;}
table.calendar tr{}
table.calendar td{width:14.28571428571429%; min-height:50px; font-size:22px; font-weight:400; background-color:#ffffff; text-align:center; transition:background 1s;}
table.calendar td.cal_today{background-color:rgba(0, 0, 0, 0.2); color:#fff !important; font-weight:bold; cursor:pointer;}
table.calendar td.cal_pass{cursor:pointer;}
table.calendar td.cal_pass:hover, table.calendar td.cal_today:hover{background-color:rgba(0, 0, 0, 0.1);}
table.calendar td.cal_pass *{}
table.calendar td.cal_future *{opacity:0.3;}
table.calendar td.cal_prev_days, table.calendar td.cal_next_days{color:rgba(255, 255, 255, 0) !important;}
table.calendar td small{font-size:22px;}
table.calendar td span{display:block; font-size:14px; margin:5px auto; text-align:center; width:25px; height:25px; line-height:25px; border:1px solid; border-radius:50%;}
table.calendar td img{height:45px; margin:10px 0;}

div.calendar-bkg{background:#fff; /*height:calc(100vh - 171px);*/ padding:0 0 10px 0;}


div.calendar-bkg figure{width:auto; min-height:56px; line-height:56px; margin:0px 15% 25px 15%;
    padding:3px 8px; background:#FCFBF7; border-radius:7px; font-size:22px; text-align:center;}
div.calendar-bkg figure img{vertical-align:middle; margin:0 20px; width:45px}
div.calendar-bkg figure figcaption{line-height:10px;}

@media(min-width:600px)
{
    body.menu-on main, body.menu-on footer{left:-100%;}
}
@media(min-width:430px)
{
    h1{font-size:38px; margin-top:10px;}
    table.calendar-title th h4{font-size:35px;}
    button, .btn{margin:10px auto;}
}


/*** Slide show ***/

/* swiper-container */
.about .swiper-container{display:flex; flex-direction:column; width:100%; min-height:100%; position:relative; cursor:grab;}
.about .swiper-container .swiper-slide{background:transparent;}
.about .swiper-container .swiper-slide figure{margin:0;}
.about .swiper-container .swiper-slide figure img{width:100%; max-width:300px; margin:0; padding:0 20px;}
.about .swiper-container .swiper-slide figure figcaption{margin-top:20px; text-align:left;  font-size:0.9em;}
.about .swiper-pagination{position:fixed;}


/* swiper-home-container */
.home .swiper-home-container{display:flex; overflow:hidden; flex-direction:column; width:100%; min-height:100%; position:relative; cursor:grab; padding:0 20px;}
.home .swiper-home-container .swiper-slide{margin:0; padding:0px 20px;}
.home .swiper-home-container .swiper-slide img{width:220px; margin:0 auto; display:block; padding:10px 20px;}
.home .swiper-home-container .swiper-slide table{max-width:400px;}
.home .swiper-home-container .swiper-slide td{padding:7px 40px; text-align: center;}
.home .swiper-home-container .swiper-slide td img{width:50px; margin:0 auto; display:block; padding:0;}
.home .swiper-home-container.swiper-container-horizontal > .swiper-pagination-bullets.swiper-home-pagination{text-align:center; position:fixed; bottom:226px}
.home .swiper-home-pagination span.swiper-pagination-bullet-active{background-color:#fff;}