  <link rel="stylesheet" href="public/css/swiper.min.css">

  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><figure><img src="public/medias/tuto_01_welcome.png"><figcaption>Bienvenue sur Vitabulle, une application qui vous assiste pour la pratique de la Cohérence cardiaque.</figcaption></figure></div>
      <div class="swiper-slide"><figure><img src="public/medias/tuto_02_progression.png"><figcaption>Créez votre compte et suivez vos objectifs et votre progression à l'aide de statistiques.</figcaption></figure></div>
      <div class="swiper-slide"><figure><img src="public/medias/tuto_03_exp.gif"><figcaption>Pratiquez la Cohérence cardiaque en rythme grâce au guide visuel et sonore.</figcaption></figure></div>
      <div class="swiper-slide"><figure><img src="public/medias/tuto_04_eval.png"><figcaption>Evaluez votre ressenti après chaque exercice pour mieux progresser.</figcaption></figure></div>
      <div class="swiper-slide"><figure><img src="public/medias/tuto_05_resultat.png"><figcaption>Faites 3 fois l'exercice par jour pour un résultat optimal.<a class="btn btnClearLabel" href="#home">Démarrer</a></figcaption></figure></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>