<div id="subscribe">

    <div class="msg msg-error" id="error-connect"></div>
    <div class="msg" id="success-connect">
        <h3>Hourra !</h3> Ton compte vient d'être créé. <strong>Tu as reçu un message</strong> dans ta boîte e-mail qui te permettra d'activer ton compte. Tu pourras ensuite te connecter à Vitabulle.
        <img src="public/medias/eval_03.png">
        <a class="btn btnDark" href="#home">OK</a>
    </div>

    <label>
        <span>E-mail</span>
        <input id="EmailUser" type="text">
        <div class="msg msg-error">Veuillez remplir ce champ&nbsp;</div>
    </label>
    <label>
        <span>Mot de passe </span>
        <input id="PassUser" type="password">
        <div class="msg msg-error">Veuillez remplir ce champ&nbsp;</div>
    </label>

</div>