<h1>Les Vitabulles</h1>
<p>
L'équipe technique, à l'exception de l'encadrement, est entièrement composée de professionnels des métiers du multimédia, stagiaires à l'occasion d'une mesure à 5D Multimédia et Communication Web (Emploi Lausanne).<br>
&copy; 2018 - Service de l'emploi - Ville de Lausanne
</p>

<p>
Ce projet a trouvé son origine à l'initiative de Sylvie Filet, conseillère en insertion à Emploi Lausanne et accompagnante de personnes en mesure auprès de qui elle pratique la cohérence cardiaque.
Cette application s'est avérée être un support dans l'accompagnement qu'elle offre.</p>
</p>

<h4>Concept</h4>
<p>Didier Humair, Guillaume Vautier</p>
<h4>Design (UI/UX)</h4>
<p>Alexandre Meylan, Guillaume Vautier, Luis Gonzalez</p>
<h4>Développement</h4>
<p>Jérémy Rigaldo, Onur Dogan, Daniel Basurto</p>
<h4>Illustrations</h4>
<p>Angelo Melchiorre</p>
<h4>Animation</h4>
<p>Guillaume Vautier, Telmo Santiago, Aline Pfaender, Karim Troyon</p>
<h4>Site</h4>
<p>Lionel Melchiorre, Marion Clément, Guillaume Vautier, Sébastien Guglielmetti</p>
<h4>Corporate</h4>
<p>Guillaume Vautier</p>
<h4>Encadrement</h4>
<p>Olivier Dommange, Wesley Aza</p>
    