<% if( datas.eval ){ %>

    <% if( typeof sessions['FirstnameUser'] != 'undefined' && sessions['FirstnameUser'] !== 'null' ){ %>
        <h1><%= sessions['FirstnameUser'] %> <% if( sessions['LastnameUser'] !== 'null' ){ %><%= sessions['LastnameUser'] %><% } %></h1>
    <% }else{ %>
        <h1>Hey !</h1>
    <% } %>

    <% if( datas.eval === "1" ){ %>
         <p>Courage, fais ce que tu peux.</p>
    <% } else if( datas.eval === "2" ){ %>
        <p>N'oublie jamais qui tu es au fond de toi!</p>
    <% } else if( datas.eval === "3" ){ %>
        <p>Continue, n'abandonne pas.</p>
    <% } else if( datas.eval === "4" ){ %>
        <p>Je suis ravi que tu aies apprécié ta séance.</p>
    <% } %>

    <figure class="eval-result">
        <img src="public/medias/eval_0<%= datas.eval %>.png">
    </figure>
    

<% } %>


