<h1>Comment considères-tu l'effet de cette séance?</h1>

<figure class="eval">
    <div data-eval="3"><img src="public/medias/eval_03.png"><span>La séance s'est bien passée et m'a fait du bien.</span></div>
    <div data-eval="2"><img src="public/medias/eval_02.png"><span>La séance s'est bien passée mais ne m'a que peu soulagé.</span></div>
    <div data-eval="1"><img src="public/medias/eval_01.png"><span>La séance a été difficile et m'a peu soulagé.</span></div>
</figure>