<div class="duree"><span></span></div>

<audio id="audio_bkg" loop="loop"><source type="audio/mpeg"></audio>
<audio id="audio_loop1"><source type="audio/mpeg"></audio>
<audio id="audio_loop2"><source type="audio/mpeg"></audio>

<div class="textsupport"></div>

<div class="countdown"><span></span></div>

<div class="particulemeter"><span></span></div>

<div class="particules"></div>