<div id="calendar">
<table class="calendar-title">
    <tr id="cal_month"><th colspan="7"><a href="<%= urlPrev %>">&lt;</a><h4></h4><a href="<%= urlNext %>">&gt;</a></th></tr>
    <tr class="cal_d_week">
        <th>lu</th>
        <th>ma</th>
        <th>me</th>
        <th>je</th>
        <th>ve</th>
        <th>sa</th>
        <th>di</th>
    </tr>
</table>
<div class="calendar-bkg">
    <table class="calendar">
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
    </table>
</div>
</div>